<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729092068208-d2omu7sddpkhmttbatp2icli2ii14e5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729092068208-d2omu7sddpkhmttbatp2icli2ii14e5j</string>
	<key>API_KEY</key>
	<string>AIzaSyAeRp6CScMr8xMb5xUNEnm6cFlnzWX5FGw</string>
	<key>GCM_SENDER_ID</key>
	<string>729092068208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-d9d30</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-d9d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729092068208:ios:d45e227cc6ab0028f575b5</string>
</dict>
</plist>